.item{:id => "item-#{item.id}"}
  #{link_to item.name, item_path(item)}
  /if current_user. has this comment
  .pull-right#item-options
    - if item.user_id == current_user.id
      = link_to 'Edit item', edit_item_path(item), {:action => 'edit'} #icon_label 'icon-pencil' method: 'post'
      = link_to 'Delete item', item_path(item), method: 'delete' #icon_label 'icon-trash'
  /form_for @comment