.center  
  #pager.pager
    %form
      %img.first{src: "/images/pager/first.png"}/
      %img.prev{src: "/images/pager/prev.png"}/
      %input.pagedisplay{type: "text"}/
      %img.next{src: "/images/pager/next.png"}/
      %img.last{src: "/images/pager/last.png"}/
      %select.pagesize
        %option{selected: "selected", value: "10"} 10 items
        %option{value: "20"} 15 items
        %option{value: "30"} 20 items
        %option{value: "40"} 25 items
        %option{value: "20"} 30 items
        %option{value: "30"} 35 items
        %option{value: "40"} 40 items