#pager.pager{style: "margin-top: 10px;"}
  %form
    %img.first{src: "/images/pager/first.png"}/
    %img.prev{src: "/images/pager/prev.png"}/
    %input.pagedisplay{type: "text"}/
    %img.next{src: "/images/pager/next.png"}/
    %img.last{src: "/images/pager/last.png"}/
    %select.pagesize
      %option{selected: "selected", value: "10"} 10
      %option{value: "20"} 20
      %option{value: "30"} 30
      %option{value: "40"} 40
    Rows