= build_server_tree(tree, render_module: RenderCommentsTreeHelper, controller: controller)
/ - if comment.user_id == current_user.id
/   = link_to edit_comment_path(comment), id: "edit-comment-#{comment.id}" do
/     %i.icon-pencil
/   = link_to comment_path(comment), id: "destroy-comment-#{comment.id}", method: 'delete' do
/     %i.icon-trash
/= comment.upvotes.size
/= link_to comment_like_path(comment), method: :get do
/  %i.icon-thumbs-up
/= link_to comment_dislike_path(comment), method: :get do
/  %i.icon-thumbs-down
/= 0 - comment.downvotes.size