%table.comment_body.table.table-striped.table-hover
  %tr
    %td{ style: "width: 120px;"}
      %b= comment.commentable_type :autofocus => true
      &rarr;
      =link_to "abc"
  %tr
  %tr.success
    %td
      %b= t('the_comments.content')
    %td= comment.content