/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-editable
 *= require jquery.ui.all
 *= require jquery-tablesorter/theme.blue


*/

/*
Avaliable theme names:

theme.black-ice
theme.blue
theme.bootstrap
theme.bootstrap_2
theme.dark
theme.default
theme.dropbox
theme.green
theme.grey
theme.ice
theme.jui
pager theme: require jquery-tablesorter/addons/pager/jquery.tablesorter.pager

*/

@import "bootswatch/cerulean/variables";

@import "bootstrap";

//@import "bootstrap-responsive";
@import "bootswatch/cerulean/bootswatch";

// Application styles
@import 'font-awesome';

@import 'common/variables';
@import 'common/classes';

@import "authenticated/items";
@import "authenticated/the_comments";


// Application styles END

   #header {
    div.navbar-inner { @include border-radius(0); }

     margin-bottom: 0;
    }

    div#main-content {
    margin-top: 50px;
    font-family: Georgia;
    }

/* Notifications */

    div#notifications {
      font-family: Comic Sans, Comic Sans MS, cursive;
      margin-top: 25px;
      position: fixed;
      left: 75%;

      h4 { margin: 10px 0; }

      div.notification {
        font-size: 12px;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        text-shadow: none;
      }
    }
/* Notifications END */

form.form-inline div.control-group { display: inline-block; }
form.form-inline div.control-group div.controls { display: inline-block; }
div.remember-me { 
  float: left;
  min-width: 151px;
  padding-top: 13px;
  input[type="checkbox"]{
    float: left;
    margin-right: 5px;
  }
   }
