@font-face{
    font-family: 'MerriweatherSans-BoldItalic';
    src: font-url("MerriweatherSans-BoldItalic.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;

    /*font-family: 'MerriweatherSans-Bold';
    src: font-url("MerriweatherSans-Bold.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;

    font-family: 'MerriweatherSans-Italic';
    src: font-url("MerriweatherSans-Italic.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;

    font-family: 'MerriweatherSans-Light';
    src: font-url("MerriweatherSans-Light.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;

    font-family: 'MerriweatherSans-ExtraBold';
    src: font-url("MerriweatherSans-ExtraBold.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;

    font-family: 'MerriweatherSans-ExtraBoldItalic';
    src: font-url("MerriweatherSans-ExtraBoldItalic.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;

    font-family: 'MerriweatherSans-Regular';
    src: font-url("MerriweatherSans-Regular.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;

    font-family: 'MerriweatherSans-LightItalic';
    src: font-url("MerriweatherSans-LightIalic.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;*/
}