body#authenticated-items {
  font-family: Georgia;

  items-container {
    display: inline-block;
    cursor: pointer;
    margin-top: 30px;
  }

  a.new-item-container {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -87px;
  }
  #new-item {
    display: none;
    float: none;
    margin: 75px auto;
    background: #e0e4f5;

    input {
      display: inline-block;
    }
  }

  a.new-comment-container{
    display: inline-block;
  }

  #comment {
     font-size: 13px;
      border-bottom: 1px solid #eee;
      border: 1px solid #c6cff5;
      padding-bottom: 10px;
      line-height: 135%;
      margin-bottom: 31px;
      overflow: hidden;
    }

    .comment-reply {
    display: none;
    background: #e0e4f5;
    border: 1px solid #c6cff5;
    border-radius: 5px;
    padding: 10px;
    
    p{ margin: 0 0 10px 0; }

    input[type=text]{
      border: 1px solid #c6cff5;
      padding: 4px;
      width: 75%;
    }
    textarea{
      border: 1px solid gray;
      font-size: 13px;
      height: 150px;
      padding: 4px;
      width: 75%;
    }
    }

#root-comment {
    background: #F9F9F9;
    color: darkgreen;
    box-shadow: 0 1px 20px #c6cff5;
    position: relative;
    padding: 5px 10px;
    border: 1px solid #c6cff5 !important;
    border-radius:10px;
  }
  #nested-comment {
    margin-top: -10px;
    margin-left: 40px;
    margin-right: -10px;
    padding: 5px 10px;
    border-radius:10px;
  }

  #nested-comment-content {
    background: #F9F9F9;
    color: darkgreen;
    box-shadow: 0 1px 20px #c6cff5;
    margin-top: 0px;
    padding: 5px 10px;
    border: 1px solid #c6cff5 !important;
    border-radius:10px;
  }

  #new-comment-form{
    background: #e0e4f5;
    border: 1px solid #c6cff5;
    border-radius: 5px;
    padding: 10px;
    
    p{ margin: 0 0 10px 0; }

    input[type=text]{
      border: 1px solid #c6cff5;
      padding: 4px;
      width: 75%;
    }
    label{ font-size: 18px; color: darkgreen; }
    textarea{
      border: 1px solid gray;
      font-size: 13px;
      height: 150px;
      padding: 4px;
      width: 75%;
    }
  }

  div.item {
    float: inline;
    margin: 15px auto;
  }

  #item-name {
    margin-top: 30px;
    color: red;
    font-size: 29px;
    font-weight: bold;
  }

  #item-amount { font-style: bold;}

  #auth-info {
    text-align: center;
    color: deepskyblue;
    font-size: 15px;
    font-style: italic;
    margin-top: 20px;
    /*background: #e0e4f5;
    border: 1px solid #c6cff5;
    border-radius: 5px;
    padding: 5px; */
  }

  #request-info {
    color: darkgreen;
    margin-top: 37px;
    background: #e0e4f5;
    border: 1px solid #c6cff5;
    border-radius: 5px;
    padding: 10px;
  }

  #items {
    padding-top: 5px;
    width: 100%;
    .item {
      border-top: 1px solid #eee;
      padding: 0 0 0 1em;
      margin: 0;
      position: relative;
      line-height: 1.75em;
      &:hover { background: #e0e4f5; }
    }

    .item-link { 
      display: block;
      &:hover { text-decoration: none; }
    }

    .item-options, .comment-options {
      position: absolute;
      top: 0;
      right: 0;

      a {
        &:hover { text-decoration: none; }
      }
    }

    .food td:first-child {
      border-left: 10px solid lightgreen;
    }

    .office td:first-child {
      border-left: 10px solid red;
    }

    .other td:first-child {
      border-left: 10px solid orange;
    }

    .bathroom td:first-child {
      border-left: 10px solid #bada55;
    }

    td.name {
      width: 350px;
      a {
        display: block;
      }
    }
    td.narrow {width: 40px; text-align: center; padding-right: 5px;}
    td.opt {width: 30px; text-align: right; padding-right: 5px;}

    th.header {   
      position: center;    
      cursor: pointer; 
      font-weight: bold; 
      background-repeat: no-repeat; 
      background-position: center left; 
      &:hover { 
        background: #e0e4f5;
        border-radius: 8px;
      }
    }

    tr th .headerSortUp { 
      background-image: url('asc.gif');
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    } 
    tr th .headerSortDown { 
      background-image: url('desc.gif');
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    }
  }
}

label.required { 
  float: left;
  display: block;

  abbr[title], abbr[data-original-title] {
    float: right;
    title: Required;
  }
}   

.input input {
  width: 364px;
  display: block;
}

.legend-wrapper {
  margin-top: 40px;
  position: relative;
}

#legend {
  margin: 0px auto;
  float: right;
  margin-right: 10px;
  th {
    height: 10px;
    width: 80px;
  }

  td{
    font-size: 16px;
    text-align: center;
    font-family: Comic Sans, Comic Sans MS, cursive;
  }

  th.food {
    background-color: lightgreen;
  }

  th.office {
    background-color: red;
  }

  th.other {
    background-color: orange;
  }

  th.bathroom {
    background-color: #bada55;
  }
}
#pager {
  float: left;
  position: static !important; 
  margin-top: 40px;

  input, button, textarea, select{
    width: 34%;
    font-size: 13px;
    text-align: center;
    font-family: Comic Sans, Comic Sans MS, cursive;
    margin: 0;
  }
}

.voters {
  position: relative;

  #who-voted {
    display: none;
    font-family: Comic Sans, Comic Sans MS, cursive;


    div {
      display: inline-block;
    }
  }

  &:hover {
    #who-voted {
      display: block;
      margin-top: 1px;
      background: #fff;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 2;
      text-align: right;
      white-space: nowrap;
    }
  }
}
.best_in_place:hover, #user_account .do_hover {
  cursor: pointer;
  padding-right: 1.5em;
     background: #e0e4f5;
    border: 1px solid #c6cff5;
    border-radius: 5px;
}

/* command shift P - set CSS*/










