body#authenticated-items {
  div.control-group.item { display: none };

  div#new-item {
    float: none;
    margin: 25px auto;
  }

  div.item {
    @extend .span7;

    float: none;
    margin: 25px auto;

      span.item-name {
        color: white;
        font-size: 22px;
        margin-left: 10px;
      }

      div.item-options {
        span.destroy-item {
          border-left: 1px solid cadetBlue;
          padding-left: 10px;
          margin-left: 5px;
        }
        a {
          color: white;
          font-size: 18px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
}