body#authenticated-items {
  font-family: Georgia;

  items-container {
    display: inline-block;
    cursor: pointer;
    margin-top: 30px;
  }

  a#new-item-container {
    float: none;
    margin: 25px auto;
    cursor: pointer;
  }
  #new-item {
    display: none;
    float: none;
    margin: 25px auto;
    background: #e0e4f5;
  }

  div.item {
    float: inline;
    margin: 15px auto;
  }

  #item-name {
    margin-top: 30px;
    color: red;
    font-size: 29px;
    font-weight: bold;
  }

  #item-amount { font-style: bold;}

  #auth-info {
    text-align: center;
    color: deepskyblue;
    font-size: 15px;
    font-style: italic;
    margin-top: 20px;
    /*background: #e0e4f5;
    border: 1px solid #c6cff5;
    border-radius: 5px;
    padding: 5px; */
  }

  #request-info {
    color: darkgreen;
    margin-top: 37px;
    background: #e0e4f5;
    border: 1px solid #c6cff5;
    border-radius: 5px;
    padding: 10px;
  }

  #items {
    padding-top: 5px;
    width: 100%;
    .item {
      border-top: 1px solid #eee;
      padding: 0 0 0 1em;
      margin: 0;
      position: relative;
      line-height: 1.75em;
      &:hover { background: #e0e4f5; }
    }

    .item-link { 
      display: block;
      &:hover { text-decoration: none; }
    }

    .item-options {
      position: absolute;
      top: 0;
      right: 0;

      a {
        &:hover { text-decoration: none; }
      }
    }

    .food td:first-child {
      border-left: 10px solid lightgreen;
    }

    .office td:first-child {
      border-left: 10px solid red;
    }

    .other td:first-child {
      border-left: 10px solid orange;
    }

    .bathroom td:first-child {
      border-left: 10px solid #bada55;
    }

    td.name {
      width: 350px;
      a {
        display: block;
      }
    }
    td.narrow {width: 40px; text-align: center; padding-right: 5px;}
    td.opt {width: 16px; text-align: right; padding-right: 5px;}

    th.header {   
      position: center;    
      cursor: pointer; 
      font-weight: bold; 
      background-repeat: no-repeat; 
      background-position: center left; 
      &:hover { 
        background: #e0e4f5;
        border-radius: 8px;
      }
    }

    tr th .headerSortUp { 
      background-image: url('asc.gif');
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    } 
    tr th .headerSortDown { 
      background-image: url('desc.gif');
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    }
  }
}

label.required { 
  float: left;
  display: block;

  abbr[title], abbr[data-original-title] {
    float: right;
  }
}   

.input input {
  width: 364px;
  display: block;
}

#legend {
  position:absolute;
  bottom: 0;
  margin-bottom: 20px;

  th {
    height: 10px;
    width: 100px;
  }

  td{
    font-size: 16px;
    text-align: center;
    font-family: Comic Sans, Comic Sans MS, cursive;
  }

  th.food {
    background-color: lightgreen;
  }

  th.office {
    background-color: red;
  }

  th.other {
    background-color: orange;
  }

  th.bathroom {
    background-color: #bada55;
  }
}
/* command shift P - set CSS*/











