body#authenticated-requests
  .editable-click {
    border-bottom: none;
  }

  div.request {
  @extend .span7;

  float: none;
  margin: 25px auto;

  div.request-header {
    @include gradient-vertical($infoText, darken($infoText, 10%));
    padding: 15px 10px;
    border: 1px solid $infoBorder;

    span.project-name {
      color: white;
      font-size: 22px;
      margin-left: 10px;
    }
  }
}